*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.wrapper{
    max-width: 1366px;
    margin: 0 auto;
    padding: 50px;
}
.header{
    border-bottom: 2px lightgray solid;
}
.header-content{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
}
.logo h1{
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: black;
}
.logo h1 span{
    font-weight: normal;
    display: block;
}
.data p{
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    white-space: pre;
}
.data p span{
    font-weight: bold;
}
.menu ul li{
    display: inline-block;
}
.menu a{
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    display: inline-block;
    padding: 20px;
    white-space: nowrap;
    font-size: 20px;
    color: black;
}
.menu .active-page{
    background: lightgray;
}
.menu a:hover{background-color: lightgray}
.content .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    display: block;
}
.photo{
    width: 200px;
    height: 210px;
    float: left;
    outline: lightgray solid 2px;
    overflow: hidden;
    position: relative;
    margin-right: 50px;
    margin-bottom: 50px;
}
.that-photo{
    margin: -20px 0px 0px 0px;
}
.another-photo{
    height: 210px;
    width: 200px;
    margin: 0px;
}
.about{
    font-size: 18px;
    text-align: justify;
    font-family: "Times New Roman";

}
.content-item1, .content-item2{
    box-shadow: 15px 15px 25px 0px lightgray;
}
.content-item1{
    margin-right: 100px;
}

.content-photo1{
    height: 195px;
    width: 270px;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
.content-photo2{
    height: 120px;
    width: 170px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}
.text2, .text1{
    padding: 30px;
}
.text2{
    padding-top: 0px;
}
.text1 span,
.text2 span{
    font-size: 25px;
    font-family: Arial, sans-serif;
}
.footer{
    background: lightgray;
    font-size: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}