* {
  margin: 0;
  padding: 0; }

body {
  position: relative; }

a {
  text-decoration: none;
  color: black; }

ul li {
  list-style: none; }

nav {
  align-items: center; }

h1 {
  font: 60px "Lobster";
  color: blue; }

h2 {
  font: 40px "Lobster";
  color: black; }

h3 {
  font: 26px "Lobster";
  color: white; }

.pink {
  background-color: #f15b4f; }

.green {
  background: #11ba76; }

.blue {
  background: blue; }

.lobsterGray {
  font-family: "Lobster";
  font-size: 22px;
  color: gray; }

.lobsterBlue {
  font-family: "Lobster";
  font-size: 40px;
  color: blue; }

.button {
  font-family: Arial,sans-serif;
  font-weight: bold;
  width: 162px;
  height: 46px;
  border-radius: 23px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  color: white; }
  .button i {
    color: white;
    font-size: 20px;
    position: relative;
    top: 3px;
    margin-left: 15px; }
  .button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s; }
  .button:active {
    cursor: pointer;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49); }

.mainWrapper {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto; }

.wrapper {
  position: relative;
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
  padding: 0 15px; }

.social {
  height: 30px;
  background: darkblue; }
  .social__logo {
    position: absolute;
    z-index: 2; }
  .social__icons {
    font-size: 22px;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1; }
    .social__icons ul {
      display: flex;
      list-style: none; }
      .social__icons ul li {
        margin-right: 18px; }
    .social__icons a {
      color: white; }
      .social__icons a:hover {
        opacity: 0.5;
        transition: 0.3s; }

.navSection {
  height: 93px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.burgerMenu {
  position: relative;
  display: none;
  padding: 5px 5px;
  margin-right: 20px; }
  .burgerMenu:hover {
    cursor: pointer;
    color: blue; }
  .burgerMenu__burgerMenuIcon {
    color: grey;
    font-size: 25px;
    padding-top: 5px; }
  .burgerMenu__burgerMenuItems {
    display: none;
    position: absolute;
    top: 40px;
    right: 4px;
    z-index: 300;
    background-color: rgba(255, 255, 255, 0.82);
    user-select: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33); }
    .burgerMenu__burgerMenuItems-active {
      display: block; }
    .burgerMenu__burgerMenuItems ul li a {
      display: block;
      height: 38px;
      padding: 5px 20px;
      font-family: "Open Sans";
      letter-spacing: -0.1px;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.48);
      line-height: 38px; }
      .burgerMenu__burgerMenuItems ul li a:hover {
        color: blue;
        background-color: white; }

.horizontalMenu {
  display: flex; }
  .horizontalMenu li:hover {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: white;
    transition: background-color 0.5s; }
  .horizontalMenu li a {
    display: block;
    height: 38px;
    padding: 1px 12px;
    font-family: "Open Sans";
    font-size: 15px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.48);
    line-height: 38px; }
    .horizontalMenu li a:hover {
      color: blue;
      padding: 0 11px; }

.sectionFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.slider {
  max-width: 100%;
  height: 600px;
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover; }
  .slider .wrapper {
    justify-content: center;
    align-items: flex-start; }

.userAction {
  width: 418px;
  padding-bottom: 100px; }
  .userAction__description {
    font: 1.125em/1.5 "Open Sans";
    color: black;
    margin: 15px 0 28px 0; }
  .userAction__buttons {
    display: flex;
    justify-content: flex-start; }
    .userAction__buttons .button {
      margin-right: 15px; }

.mainHeader {
  display: flex;
  justify-content: space-between;
  margin-top: -85px; }

.tabs {
  font-family: "Open Sans";
  width: 376px;
  height: 164px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 30px 25px 40px 20px;
  margin-right: 15px; }
  .tabs:last-child {
    margin-right: 0; }
  .tabs:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s; }
  .tabs:active {
    cursor: pointer;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49); }
  .tabs__iconSection {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    align-self: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-shadow: 3px 0 7px rgba(0, 0, 0, 0.23);
    margin-right: 20px; }
  .tabs__headerSection {
    color: white;
    width: inherit;
    font: 26px/1 "Lobster";
    display: flex;
    justify-content: space-between; }
  .tabs__description {
    color: white;
    width: 95%; }
  .tabs__line {
    width: 94px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.35);
    margin: 10px 0; }

.wrapperAbout {
  padding: 0 40px; }

.aboutSection {
  align-items: stretch;
  padding-bottom: 70px; }

.headerSection {
  width: 100%;
  padding: 70px 0;
  text-align: center;
  align-self: center; }
  .headerSection__header {
    margin-top: -1px;
    margin-bottom: 0;
    color: blue; }
  .headerSection__description {
    margin: 15px 0 40px 0;
    color: gray;
    font-family: "Open Sans"; }

.itemsSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .itemsSection__item {
    text-align: center;
    cursor: pointer; }

.calendarSection {
  background: #eeeeee;
  padding-bottom: 70px; }

.calendarItems {
  display: flex;
  justify-content: space-between; }

.seeAll {
  text-transform: uppercase;
  align-self: flex-end;
  margin-top: -20px;
  margin-bottom: 20px;
  font-weight: 500; }
  .seeAll p {
    padding-bottom: 8px;
    border-bottom: 2px solid #0054a4; }
  .seeAll:hover p {
    cursor: pointer;
    color: #0054a4; }

.calendarItem {
  margin: 10px auto 10px auto;
  width: 362px;
  height: 584px;
  background-color: #fff;
  align-items: center;
  text-align: center;
  border: 1px solid #dddddd;
  border-bottom: none; }
  .calendarItem:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s; }
  .calendarItem__logo {
    margin-top: -66px; }
  .calendarItem__header {
    font-family: 'Lobster';
    font-size: 24px;
    color: grey; }
  .calendarItem__description {
    width: 90%;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #b0b0b0; }
  .calendarItem__data {
    font-family: "Open Sans";
    font-size: 15px;
    color: grey; }
    .calendarItem__data span {
      color: #0000ab; }

.videoSection {
  margin-bottom: 70px; }

.videos {
  display: flex;
  justify-content: space-between; }
  .videos__item {
    margin-right: 15px; }
    .videos__item:last-child {
      margin-right: 0; }

.video {
  margin-bottom: 20px;
  width: 575px;
  height: 320px; }

.videoDescription {
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center; }

.news {
  display: flex;
  justify-content: space-between; }

.newsItem {
  width: 362px;
  height: 440px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #dddddd; }
  .newsItem:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s; }
  .newsItem__text {
    font-family: 'Lobster';
    font-size: 24px;
    color: grey; }
  .newsItem__button {
    font-family: Arial;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    width: 116px;
    height: 30px;
    border-radius: 5px;
    line-height: 32px;
    text-align: center; }
    .newsItem__button:hover {
      cursor: pointer;
      box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
      transition: all .2s; }
    .newsItem__button:active {
      cursor: pointer;
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49); }

.wrapperItems {
  padding: 30px 32px 30px 57px;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between; }

.volunteerSection {
  width: 100%;
  height: 640px;
  background: url("../img/volunteer.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.volunteerBlock {
  background: white;
  box-sizing: border-box;
  width: 421px;
  height: 400px;
  padding: 51px;
  align-items: center;
  text-align: center; }
  .volunteerBlock__headerSml {
    font-family: 'Lobster';
    font-size: 32px;
    color: black; }
  .volunteerBlock__header {
    font-family: 'Lobster';
    font-size: 60px;
    color: black; }
  .volunteerBlock__description {
    font-family: Arial;
    font-size: 18px;
    color: #676767; }
  .volunteerBlock__button {
    font-family: Arial;
    font-size: 18px;
    color: #0000ab;
    margin-top: 30px;
    width: 195px;
    height: 51px;
    border-radius: 26px;
    border: 1px solid #0054a4;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 500; }
    .volunteerBlock__button:hover {
      cursor: pointer;
      background-color: #0054a4;
      color: white;
      transition: all .4s; }
    .volunteerBlock__button:active {
      cursor: pointer;
      box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.49); }

.wrapperSlider {
  position: relative; }

.partnersSection {
  width: 100%;
  padding: 70px 0;
  align-items: center;
  justify-content: center; }

.partnersSection {
  display: flex; }
  .partnersSection .wrapper {
    align-items: center;
    justify-content: center;
    width: fit-content; }
  .partnersSection__scroll {
    position: absolute;
    z-index: 999;
    width: 49px;
    height: 49px;
    color: #a8a8a8;
    border: 1px solid #a8a8a8;
    border-radius: 50%;
    line-height: 49px;
    text-align: center;
    font-size: 28px; }
    .partnersSection__scroll:hover {
      cursor: pointer;
      color: #0054a4;
      border: 1px solid #0054a4; }
  .partnersSection__slider {
    transition: 0.5s;
    position: relative;
    display: flex;
    width: 1044px;
    justify-content: space-between;
    align-items: flex-end; }

#left {
  top: 45px;
  left: -70px; }

#right {
  top: 45px;
  right: -70px; }

.sliderItem {
  user-select: none;
  margin-right: 25px;
  opacity: 1;
  transition: all 1.5s; }

.footerSection {
  box-sizing: border-box;
  background: white url("../img/footer-bg.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  width: 100%;
  height: 420px; }
  .footerSection .wrapper {
    height: 100%; }

.footer {
  padding-top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; }

.footerLogo__img {
  margin-bottom: 50px;
  margin-right: 10px; }
  .footerLogo__img img {
    width: 100%;
    height: auto; }

.footerLogo__icons {
  font-size: 24px; }
  .footerLogo__icons ul {
    justify-content: center; }
    .footerLogo__icons ul li {
      margin: 0 15px; }
      .footerLogo__icons ul li a {
        color: white; }
        .footerLogo__icons ul li a:hover {
          opacity: .5;
          transition: .3s; }

.flex {
  display: flex;
  justify-content: space-between; }

.footerSectionFlex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.separator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0 40px 0; }

.siteLinks__header {
  font-family: "Lobster";
  font-size: 22px;
  color: white; }

.siteLinks ul li {
  padding-bottom: 4px; }
  .siteLinks ul li a {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgba(255, 255, 255, 0.5); }
    .siteLinks ul li a:hover {
      color: white; }

.thick {
  background-color: #659a37;
  width: 54px;
  height: 5px; }

.thin {
  width: 79px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2); }

.contactUs {
  flex-basis: 30%; }
  .contactUs__header {
    font-family: "Lobster";
    font-size: 22px;
    color: white; }
  .contactUs__address {
    justify-content: flex-start;
    margin-bottom: 24px;
    display: flex; }
  .contactUs__phone {
    justify-content: flex-start;
    display: flex; }

.conIcon {
  color: white;
  font-size: 18px;
  margin-right: 10px; }

.conInfo {
  color: rgba(255, 255, 255, 0.51); }
  .conInfo p {
    font-family: "Open Sans";
    font-size: 15px;
    margin-bottom: 10px; }

.stayInf__header {
  font-family: "Lobster";
  font-size: 22px;
  color: white; }

.stayInf__button {
  color: white;
  font-family: Arial;
  width: 219px;
  height: 41px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase; }
  .stayInf__button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s; }
  .stayInf__button:active {
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.49); }

.copyright {
  font-family: "Open Sans";
  font-size: 14px;
  width: 100%;
  height: 47px;
  background-color: #003b7b;
  line-height: 47px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5); }

@media screen and (max-width: 1600px) {
  .slider {
    max-width: 1600px;
    height: 43vw; } }

@media screen and (max-width: 1365px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px; }
  .partnersSection__slider {
    width: 777px; }
  #slider {
    width: 777px; } }

@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px; }
  .videos {
    width: 100%; }
    .videos__item {
      width: 50%; }
  .video {
    width: auto;
    height: 30vw; }
  .partnersSection .wrapper {
    padding-left: 0;
    padding-right: 0; } }

@media screen and (max-width: 1150px) {
  h1 {
    font-size: 50px;
    line-height: 1.2; }
  .social__logo img {
    height: 167px; }
  .navSection {
    height: 80px; }
  .burgerMenu {
    display: block;
    justify-content: center; }
  .horizontalMenu {
    display: none; }
  .slider {
    max-width: 100%;
    height: 43vw; }
  .userAction {
    padding-bottom: 67px; }
  .mainHeader {
    display: flex; }
  .tabs__description {
    text-align: center; }
  .calendarItems {
    align-items: stretch; }
  .calendarItem__img img {
    width: 30vw;
    height: auto; }
  .calendarItem__logo {
    margin: -25px 0 5px 0; }
    .calendarItem__logo img {
      width: 50px;
      height: 50px; }
  .calendarItem__header {
    font-size: 22px;
    margin-bottom: 10px; }
  .calendarItem__description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px; }
  .calendarItem__data {
    font-size: 14px;
    margin-bottom: 10px; }
  .news {
    align-items: stretch; }
  .newsItem {
    width: 30vw;
    height: auto; }
    .newsItem__button {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px; }
  .wrapperItems {
    padding: 20px;
    padding-bottom: 0;
    justify-content: flex-start; } }

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 42px; }
  .userAction {
    width: 380px; }
    .userAction__description {
      font-size: 16px;
      line-height: 1.5; }
    .userAction__buttons .button {
      font-weight: 400; }
  .mainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0; }
  .tabs:first-child {
    margin-bottom: 20px; }
  .tabs:last-child {
    margin-left: -10px;
    margin-top: 20px; }
  #slider {
    width: 510px; }
  .stayInf__button {
    font-size: 14px;
    width: 190px; } }

@media screen and (max-width: 860px) {
  h2 {
    font-size: 36px; }
  h3 {
    font-size: 22px; }
  .lobsterGray {
    font-size: 18px;
    line-height: 1.2; }
  .lobsterBlue {
    font-size: 28px;
    line-height: 1.2; }
  .userAction {
    padding-bottom: 0;
    width: 45%; }
  .mainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0; }
  .tabs__description {
    text-align: left;
    padding: 3px 5px; }
  .aboutSection__items-item img {
    width: auto;
    height: 18vw; }
  .footerLogo__img img {
    width: 30vw;
    height: auto; }
  .thin {
    width: 50px; }
  .stayInf__button {
    font-size: 12px;
    width: 170px; } }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 1; }
  .lobsterGray {
    font-size: 22px;
    line-height: 1.2; }
  .lobsterBlue {
    font-size: 40px;
    line-height: 1.2; }
  .slider {
    height: 59vw; }
  .userAction__description {
    width: 100%;
    margin: 5px 0 10px 0; }
  .userAction__buttons {
    justify-content: center;
    margin-bottom: 20px; }
  .mainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0; }
  .tabs {
    margin: 0 0 0 15px;
    padding: 20px 25px 20px 20px; }
    .tabs:last-child {
      margin-left: 20px;
      margin-bottom: 0; }
    .tabs__line {
      display: block; }
  .aboutSection__items {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .aboutSection__items-item {
      margin-bottom: 35px; }
      .aboutSection__items-item img {
        width: auto;
        height: auto;
        margin-bottom: 5px; }
      .aboutSection__items-item:last-child {
        margin-bottom: 0; }
  .headerSection__description {
    margin-bottom: 15px; }
  .itemsSection {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .calendarItems {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .seeAll {
    align-self: center;
    margin-top: 0; }
  .calendarItem {
    width: 362px;
    height: 584px;
    margin-bottom: 20px; }
    .calendarItem__img img {
      width: 362px;
      height: auto; }
    .calendarItem__logo {
      margin: 0;
      margin-top: -66px; }
      .calendarItem__logo img {
        width: auto;
        height: auto; }
    .calendarItem__header {
      font-size: 24px;
      margin-bottom: 0; }
    .calendarItem__description {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 0px; }
    .calendarItem__data {
      font-size: 15px;
      margin-bottom: 0px; }
  .videos {
    flex-direction: column; }
    .videos__item {
      width: 100%;
      margin-bottom: 20px; }
  .video {
    height: 54vw;
    margin-right: 0;
    margin-bottom: 10px; }
  .news {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .newsItem {
    width: 362px;
    height: 584px;
    margin-bottom: 20px; }
    .newsItem__button {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px; }
  .wrapperItems {
    padding: 30px 32px 30px 57px;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between; } }

@media screen and (max-width: 700px) {
  h1 {
    font-size: 36px; }
  .wrapperAbout {
    padding: 0 20px; }
  #slider {
    width: 245px; }
  .footerSection {
    height: auto; }
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footerLogo {
    padding-bottom: 10px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .footerLogo__img {
      margin-bottom: 20px;
      width: fit-content; }
      .footerLogo__img img {
        width: 70vw;
        height: auto; }
  .footerSectionFlex {
    justify-content: center;
    align-items: center; }
  .separator {
    display: none; }
  .siteLinks {
    padding: 0 60px 10px 60px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .siteLinks__header {
      align-self: center;
      margin-bottom: 15px; }
  .contactUs {
    padding-bottom: 10px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    align-items: flex-start;
    flex-basis: auto; }
    .contactUs__header {
      align-self: center;
      margin-bottom: 15px; }
  .stayInf {
    text-align: center; }
    .stayInf__header {
      align-self: center;
      margin-bottom: 15px; } }

@media screen and (max-width: 640px) {
  h2 {
    font-size: 28px; }
  .button {
    height: 35px;
    line-height: 33px;
    font-size: 13px;
    font-weight: 400; }
  .social__logo img {
    height: 137px; }
  .navSection {
    height: 55px; }
  .tabs__description {
    padding: 0 10px; }
  .volunteerBlock {
    width: 320px;
    height: 341px;
    padding: 30px; }
    .volunteerBlock__headerSml {
      font-size: 28px; }
    .volunteerBlock__header {
      font-size: 40px; } }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 28px; }
  .userAction__description {
    font-size: 14px;
    line-height: 1.2; } }

@media screen and (max-width: 500px) {
  .pink p:after {
    margin-left: 6px; }
  .button {
    width: 130px;
    height: 28px;
    font-size: 9px;
    line-height: 24px;
    text-align: center; }
  .social li {
    margin-right: 15px; }
    .social li :last-child {
      margin-right: 0; }
  .social__logo img {
    height: 110px; }
  .navSection {
    height: 42px; } }

@media screen and (max-width: 420px) {
  h1 {
    font-size: 24px; }
  .wrapper {
    padding: 0 10px; }
  .social__icons ul li p {
    font-size: 13px; }
  .burgerMenu__burgerMenuIcon {
    padding-top: 0; }
  .userAction__description {
    font-size: 12px;
    line-height: 1.2; }
  .tabs {
    width: 320px; }
  .calendarItem {
    width: 320px;
    height: 564px;
    margin-bottom: 15px; }
    .calendarItem__img img {
      width: 320px; }
  .newsItem {
    width: 320px;
    height: 564px;
    margin-bottom: 15px; }
    .newsItem__img img {
      width: 320px; }
  .partnersSection__scroll {
    width: 35px;
    height: 35px;
    line-height: 35px; }
  #left {
    left: -50px; }
  #right {
    right: -50px; } }

@media screen and (max-width: 360px) {
  h1 {
    font-size: 22px; }
  .pink p:after {
    font-size: 18px;
    top: 2px; }
  .button {
    font-size: 8px;
    width: 110px;
    line-height: 25px; }
  .social__icons ul li p {
    font-size: 8px; }
  .burgerMenu {
    font-size: 20px;
    padding: 5px 5px;
    margin-right: 5px; }
  .userAction {
    position: relative;
    width: 50%; }
  .tabs {
    width: 300px;
    padding: 20px 20px; }
    .tabs h3 {
      font-size: 20px; }
  .calendarItem {
    width: 300px; }
    .calendarItem__img img {
      width: 300px; }
  .newsItem {
    width: 300px; }
    .newsItem__img img {
      width: 300px; }
  .partnersSection__scroll {
    width: 32px;
    height: 32px;
    line-height: 32px; }
  #left {
    left: -37px; }
  #right {
    right: -34px; } }

@media screen and (max-width: 320px) {
  .mainWrapper {
    box-sizing: border-box;
    width: 320px; }
  .wrapper {
    box-sizing: border-box;
    width: 320px; } }
