body{
    perspective: 1000px;
}
.content{
    width: 500px;
    height: 500px;
    background: grey;
    margin: 100px auto;
    position: relative;
    perspective: 1000px;
    transform: rotateX(40deg);
}

.main .wrapper{
    background: lightblue;
}
.top, .right, .bottom, .left{
    position: absolute;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    box-shadow: 5px 5px 5px;
    perspective: 1000px;
}
.top{
    top: 50px;
    left: 50px;
    background: red;
    z-index: 1;
}
.right{
    top: 70px;
    left: 220px;
    background: lime;
    z-index: 2;
}
.bottom{
    top: 250px;
    left: 240px;
    background: yellow;
    z-index: 4;
}
.left{
    top: 220px;
    left: 45px;
    background: blue;
    z-index: 3;
}
.top:hover{
     z-index: 5;
     transform: translateZ(150px);
 }
.right:hover{
    z-index: 5;
    transform: translateZ(150px);
}
.bottom:hover{
    z-index: 5;
    transform: translateZ(150px);
}
.left:hover{
    z-index: 5;
    transform: translateZ(150px);
}


.button{
    position: absolute;
    width: 70px;
    height: 70px;
    background: grey;
    right: 15px;
    bottom: 15px;
    border-radius: 35px;

}
.button span{
    position: absolute;
    display: block;
    top: 33px;
    left: 18px;
    height: 4px;
    width: 36px;
    background: black;
    transition: 0.3s;
}
.button span:first-child{
    transform: translateY(-10px);
}
.button span:last-child{
    transform: translateY(10px);
}

.button-active span{
    transition: 0.3s;

}

.button-active span:nth-child(2){
    display: none;
}
.button-active span:first-child{
    transform: rotateZ(45deg);
}
.button-active span:last-child{
    transform: rotateZ(-45deg);
}
.button:hover{
    cursor: pointer;
}
