*{
    margin: 0;
    padding: 0;
}
body {
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
ul li {
    list-style: none;
}
h1 {
    font: 60px "Lobster";
    color: blue;
}
h2 {
    font: 40px "Lobster";
    color: black;
}
h3 {
    font: 26px "Lobster";
    color: white;
}
.pink{background-color: #f15b4f;}
.green{background: lime}
.blue{background: blue}
.main-wrapper{
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
}
.wrapper{
    position: relative;
    max-width: 1200px;
    height: inherit;
    margin: 0 auto;
    padding: 0 15px;
}
.social{
    height: 30px;
    background: darkblue;
}
.logo{
    position: absolute;
    z-index: 2;
}
.icons{
    font-size: 22px;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}
.icons ul{
    display: flex;
    list-style: none;
}
.icons ul li{

    margin-right: 18px;
}
.icons a{
    color: white;
}
.icons a:hover {
    opacity: 0.5;
    transition: 0.3s;
}
.nav-section {
    height: 93px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.burger-menu {
    position: relative;
    display: none;
    padding: 5px 5px;
    margin-right: 20px;
}
.burger-menu i {
    color: grey;
    font-size: 25px;
    padding-top: 5px;
}
.burger-menu:hover {
    cursor: pointer;
    color: blue;
}
.burger-menu:hover .burger-menu-items{
    display: block;
}
.burger-menu-items {
    display: none;
    position: absolute;
    top: 30px;
    right: 4px;
    z-index: 300;
    background-color: rgba(255, 255, 255, 0.82);
    user-select: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}
.burger-menu-items ul li a {
    display: block;
    height: 38px;
    padding: 5px 20px;
    font-family: "Open Sans";
    letter-spacing: -0.1px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.48);
    line-height: 38px;
}
.burger-menu-items li a:hover {
    color: blue;
    background-color: white;
}
nav{
    align-items: center;
}
nav ul#horizontal{
    display: flex;
}
nav ul#horizontal li:hover {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: white;
    transition: background-color 0.5s;
}
nav ul#horizontal li a {
    display: block;
    height: 38px;
    padding: 1px 12px;
    font-family: "Open Sans";
    font-size: 15px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.48);
    line-height: 38px;

}
nav ul#horizontal li a:hover {
    color: blue;
    padding: 0 11px;

}
.button{
    font-family: Arial,sans-serif;
    font-weight: bold;
    width: 162px;
    height: 46px;
    border-radius: 23px;
    text-align: center;
    line-height: 42px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;

}
.button i{
    color: white;
    font-size: 20px;
    position: relative;
    top: 3px;
    margin-left: 15px;
}
.button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
}
.button:active {
    cursor: pointer;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
}

.section-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slider {
    max-width: 100%;
    height: 600px;
    background: url(../img/picture.jpg) no-repeat center;
    background-size: cover;
}
.slider .wrapper {
    justify-content: center;
    align-items: flex-start;
}

.user-action {
    width: 418px;
    padding-bottom: 100px;

}
.action-description {
    font: 1.125em/1.5 "Open Sans";
    color: black;
    margin: 15px 0 28px 0;
}
.action-button {
    display: flex;
    justify-content: flex-start;
}

.action-button .button {
    margin-right: 15px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin-top: -85px;
}
.tabs {
    font-family: "Open Sans";
    width: 376px;
    height: 164px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 30px 25px 40px 20px;
    margin-right: 15px;
}
.tabs:last-child {
    margin-right: 0;
}
.tabs:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
}
.tabs:active {
    cursor: pointer;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
}
.tabs-icon-section {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    align-self: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-shadow: 3px 0 7px rgba(0, 0, 0, 0.23);
    margin-right: 20px;
}
.tabs-text-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
.tabs-header-section {
    width: inherit;
    font: 26px/1 "Lobster";
    display: flex;
    justify-content: space-between;
}
.tabs-description {
    width: 95%;
}
.line {
    width: 94px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.35);
    margin: 10px 0;
}
.about-section {
    align-items: stretch;
}
.wrapper-about {
    padding: 0 40px;
}
.header-section {
    width: 100%;
    padding: 70px 0;
    text-align: center;
    align-self: center;
}
.text-header {

    margin-top: -1px;
    margin-bottom: 0px;
    color: blue;
}
.text-description {
    margin: 15px 0 40px 0;
    color: gray;
    font-family: "Open Sans";
}
.items-img img {
    margin-bottom: 35px;
}
.items-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.items {
    text-align: center;
    cursor: pointer;
}
.lobster-gray{
    font-family: "Lobster";
    font-size: 22px;
    color: gray;
}
.lobster-blue{
    font-family: "Lobster";
    font-size: 40px;
    color: blue;
}

@media screen and ( max-width: 1600px ) {
    .slider {
        max-width: 1600px;
        height: 43vw;
    }
}
@media screen and ( max-width: 1200px ) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and ( max-width: 1150px ) {
    h1 {
        font-size: 50px;
        line-height: 1.2;
    }
    .nav-section {
        height: 80px;
    }
    .logo img {
        height: 167px;
    }
    nav ul#horizontal {
        display: none;
    }
    .burger-menu {
        display: block;
        justify-content: center;
    }
    .slider {
        max-width: 100%;
        height: 43vw;
    }

    .user-action {
        padding-bottom: 67px;
    }
    .main-header {
        display: flex;
    }

    .tabs-description {
        text-align: center;
    }
}
@media screen and ( max-width: 1024px ) {
    h1 {
        font-size: 42px;
    }
    .main-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0;
    }
    .user-action {
        width: 380px;
    }

    .action-button .button {
        font-weight: 400;
    }

    .action-description {
        font-size: 16px;
        line-height: 1.5;
    }
    .slider-visible {
        width: 510px;
    }
}
@media screen and ( max-width: 860px ) {
    h2 {
        font-size: 36px;
    }

    .section-padding {
        padding: 50px 0;
    }

    .user-action {
        padding-bottom: 0;
        width: 45%;

    }
    .main-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0;
    }
    h3 {
        font-size: 22px;
    }

    .tabs-description {
        text-align: left;
        padding: 3px 5px;
    }

    .items p .lobster-blue {
        font-size: 28px;
        line-height: 1.2;
    }

    .items p .lobster-gray {
        font-size: 18px;
        line-height: 1.2;
    }

    .items img {
        width: auto;
        height: 18vw;
    }
}
@media screen and ( max-width: 768px ) {
    .slider {
        height: 59vw;
    }

    h1 {
        font-size: 40px;
        line-height: 1;
    }

    .action-description {
        width: 100%;
        margin: 5px 0 10px 0;
    }

    .action-button {
        justify-content: center;
        margin-bottom: 20px;
    }

    .main-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0;
    }

    .tabs {
        margin: 0 0 0 15px;
        padding: 20px 25px 20px 20px;
    }

    .tabs:last-child {
        margin-bottom: 0;
    }

    .line {
        display: block;
    }

    .items-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .items {
        margin-bottom: 35px;
    }

    .items:last-child {
        margin-bottom: 0;
    }

    .items p .lobster-blue {
        font-size: 40px;
        line-height: 1.2;
    }

    .items p .lobster-gray {
        font-size: 22px;
        line-height: 1.2;
    }

    .items img {
        width: auto;
        height: auto;
        margin-bottom: 5px;
    }
}
@media screen and ( max-width: 700px ) {
    h1 {
        font-size: 36px;
    }

    .wrapper-about {
        padding: 0 20px;
    }

    .slider-visible {
        width: 245px;
    }
}
@media screen and ( max-width: 640px ) {
    h2 {
        font-size: 28px;
    }

    .logo img {
        height: 137px;
    }

    .nav-section {
        height: 55px;
    }

    .button {
        height: 35px;
        line-height: 33px;
        font-size: 13px;
        font-weight: 400;
    }

    .text-description {
        padding: 0 10px;
    }
}
@media screen and ( max-width: 600px ) {
    h1 {
        font-size: 28px;
    }

    .action-description {
        font-size: 14px;
        line-height: 1.2;
    }
}
@media screen and ( max-width: 500px ) {
    .logo img {
        height: 110px;
    }
    .nav-section {
        height: 42px;
    }
    .button {
        width: 130px;
        height: 28px;
        font-size: 9px;
        line-height: 24px;
        text-align: center;
    }
    .button.pink p::after {
        margin-left: 6px;
    }
    .social li {
        margin-right: 15px;
    }
    .social li:last-child {
        margin-right: 0;
    }
}
@media screen and ( max-width: 420px ) {
    h1 {
        font-size: 24px;
    }

    .action-description {
        font-size: 12px;
        line-height: 1.2;
    }

    .burger-menu i {
        padding-top: 0;
    }

    .main-header .tabs {
        width: 320px;
    }

    .wrapper {
        padding: 0 10px;
    }

    .scroll {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}
@media screen and ( max-width: 360px ) {

    h1 {
        font-size: 22px;
    }

    .burger-menu {
        font-size: 20px;
    }

    .user-action {
        position: relative;
        width: 50%;
    }

    .button {
        font-size: 8px;
        width: 110px;
        line-height: 25px;
    }

    .button.pink p::after {
        font-size: 18px;
        top: 2px;
    }

    .main-header .tabs {
        width: 300px;
        padding: 20px 20px;
    }

    .main-header .tabs h3 {
        font-size: 20px;
    }

    .burger-menu {
        padding: 5px 5px;
        margin-right: 5px;
    }
}
@media screen and ( max-width: 320px ) {
    .wrapper {
        box-sizing: border-box;
        width: 320px;
    }

    .main-wrapper {
        box-sizing: border-box;
        width: 320px;
    }
}