*{
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
a{
  text-decoration: none;
  color: black;
}
ul li {
  list-style: none;
}
nav{
  align-items: center;
}

h1 {
  font: 60px "Lobster";
  color: blue;
}
h2 {
  font: 40px "Lobster";
  color: black;
}
h3 {
  font: 26px "Lobster";
  color: white;
}


.pink{background-color: #f15b4f;}
.green{background: #11be0b}
.blue{background: darkblue}
.lobsterGray{
  font-family: "Lobster";
  font-size: 22px;
  color: gray;
}
.lobsterBlue{
  font-family: "Lobster";
  font-size: 40px;
  color: blue;
}

.button{
  font-family: Arial,sans-serif;
  font-weight: bold;
  width: 162px;
  height: 46px;
  border-radius: 23px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  & i{
    color: white;
    font-size: 20px;
    position: relative;
    top: 3px;
    margin-left: 15px;
  }// i
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
  }// :hover
  &:active {
    cursor: pointer;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
  }// :active
}// button
.mainWrapper{
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}// main-wrapper
.wrapper{
  position: relative;
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
  padding: 0 15px;
}// wrapper
.social{
  height: 30px;
  background: darkblue;
  &__logo{
    position: absolute;
    z-index: 2;
  }// __logo
  &__icons{
    font-size: 22px;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    & ul{
      display: flex;
      list-style: none;
      & li{
        margin-right: 18px;
      }// li
    }// ul
    & a{
      color: white;
      &:hover {
        opacity: 0.5;
        transition: 0.3s;
      }// hover
    }// a
  }// __icons
}// social
.navSection {
  height: 93px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}//nav-section
.burgerMenu {
  position: relative;
  display: none;
  padding: 5px 5px;
  margin-right: 20px;
  &:hover {
    cursor: pointer;
    color: blue;
  }// :hover
  &__burgerMenuIcon {
    color: grey;
    font-size: 25px;
    padding-top: 5px;
  }//__burgerMenuIcon
  &__burgerMenuItems {
    display: none;
    position: absolute;
    top: 40px;
    right: 4px;
    z-index: 300;
    background-color: rgba(255, 255, 255, 0.82);
    user-select: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
    &-active{
      display: block;
    }
    & ul li a {
      display: block;
      height: 38px;
      padding: 5px 20px;
      font-family: "Open Sans";
      letter-spacing: -0.1px;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.48);
      line-height: 38px;
      &:hover {
        color: blue;
        background-color: white;
      }// :hover
    }// ul li a
  }// __burgerMenuItems
}// burgerMenu
.horizontalMenu{
  display: flex;
  & li{
    &:hover {
      cursor: pointer;
      border-radius: 20px;
      border: 1px solid blue;
      background-color: white;
      transition: background-color 0.5s;
    }// :hover
    & a{
      display: block;
      height: 38px;
      padding: 1px 12px;
      font-family: "Open Sans";
      font-size: 15px;
      border-radius: 10px;
      color: rgba(0, 0, 0, 0.48);
      line-height: 38px;
      &:hover {
        color: blue;
        padding: 0 11px;
      }// :hover
    }// a
  }// li
}// horizontalMenu
.sectionFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}// sectionFlex
.slider {
  max-width: 100%;
  height: 600px;
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  .wrapper {
    justify-content: center;
    align-items: flex-start;
  }
}// slider
.userAction {
  width: 418px;
  padding-bottom: 100px;
  &__description {
    font: 1.125em/1.5 "Open Sans";
    color: black;
    margin: 15px 0 28px 0;
  }// __description
  &__buttons {
    display: flex;
    justify-content: flex-start;
    .button {
      margin-right: 15px;
    }// button
  }// __buttons
}// userAction
.mainHeader {
  display: flex;
  justify-content: space-between;
  margin-top: -85px;
} // mainHeader
.tabs {
  font-family: "Open Sans";
  width: 376px;
  height: 164px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 30px 25px 40px 20px;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }// :last-child
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
  }// :hover
  &:active {
    cursor: pointer;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
  }// :active
  &__iconSection {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    align-self: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-shadow: 3px 0 7px rgba(0, 0, 0, 0.23);
    margin-right: 20px;
  }// __iconSection
  &__headerSection {
    color: white;
    width: inherit;
    font: 26px/1 "Lobster";
    display: flex;
    justify-content: space-between;
  }// __headerSection
  &__description {
    color: white;
    width: 95%;
  }// __description
  &__line {
    width: 94px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.35);
    margin: 10px 0;
  }// __line
}// tabs
.wrapperAbout {
  padding: 0 40px;
}// wrapperAbout
.aboutSection {
  align-items: stretch;
  padding-bottom: 70px;
}// aboutSection


.headerSection {
  width: 100%;
  padding: 70px 0;
  text-align: center;
  align-self: center;
  &__header {
    margin-top: -1px;
    margin-bottom: 0;
    color: blue;
  }// __header
  &__description {
    margin: 15px 0 40px 0;
    color: gray;
    font-family: "Open Sans";
  }// __description
}// headerSection
.itemsSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &__item {
    text-align: center;
    cursor: pointer;
  }// __item
}// itemsSection
.calendarSection{
  background: #eeeeee;
  padding-bottom: 70px;
}// calendarSection
.calendarItems {
  display: flex;
  justify-content: space-between;
}// calendarItems
.seeAll {
  text-transform: uppercase;
  align-self: flex-end;
  margin-top: -20px;
  margin-bottom: 20px;
  font-weight: 500;
  & p {
    padding-bottom: 8px;
    border-bottom: 2px solid #0054a4;
  }// p
  &:hover p {
    cursor: pointer;
    color: #0054a4;
  }// :hover p
}// seeAll
.calendarItem {
  margin: 10px auto 10px auto;
  width: 362px;
  height: 584px;
  background-color: #fff;
  align-items: center;
  text-align: center;
  border: 1px solid #dddddd;
  border-bottom: none;
  &:hover{
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
  }// :hover
  &__logo {
    margin-top: -66px;
  }// __logo
  &__header{
    font-family: 'Lobster';
    font-size: 24px;
    color: grey;
  }// __header
  &__description {
    width: 90%;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #b0b0b0;
  }// __description
  &__data{
    font-family: "Open Sans";
    font-size: 15px;
    color: grey;
    & span{
      color: #0000ab;
    }// span
  }// __data
}// calendarItem
.videoSection{
  margin-bottom: 70px;
}// videoSection
.videos {
  display: flex;
  justify-content: space-between;
  &__item {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }// :last-child
  }// __item
}// videos
.video {
  margin-bottom: 20px;
  width: 575px;
  height: 320px;
}// video
.videoDescription {
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
}// videoDescription
.news{
  display: flex;
  justify-content: space-between;
}// news
.newsItem {
  width: 362px;
  height: 440px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #dddddd;
  &:hover{
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
  }// :hover
  &__text{
    font-family: 'Lobster';
    font-size: 24px;
    color: grey;
  }// __text
  &__button {
    font-family: Arial;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    width: 116px;
    height: 30px;
    border-radius: 5px;
    line-height: 32px;
    text-align: center;
    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
      transition: all .2s;
    }// :hover
    &:active {
      cursor: pointer;
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.49);
    }// :active
  }// __button
}// newsItem
.wrapperItems {
  padding: 30px 32px 30px 57px;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
}// wrapperItems
.volunteerSection {
  width: 100%;
  height: 640px;
  background: url("../img/volunteer.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}// volunteerSection
.volunteerBlock {
  background: white;
  box-sizing: border-box;
  width: 421px;
  height: 400px;
  padding: 51px;
  align-items: center;
  text-align: center;
  &__headerSml{
    font-family: 'Lobster';
    font-size: 32px;
    color: black;
  }// __headerSml
  &__header{
    font-family: 'Lobster';
    font-size: 60px;
    color: black;
  }// __header
  &__description{
    font-family: Arial;
    font-size: 18px;
    color: #676767;
  }// __description
  &__button{
    font-family: Arial;
    font-size: 18px;
    color: #0000ab;
    margin-top: 30px;
    width: 195px;
    height: 51px;
    border-radius: 26px;
    border: 1px solid #0054a4;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 500;
    &:hover {
      cursor: pointer;
      background-color: #0054a4;
      color: white;
      transition: all .4s;
    }// :hover
    &:active {
      cursor: pointer;
      box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.49);
    }// :active
  }// __button
}// volunteerBlock
.wrapperSlider {
  position: relative;

}// wrapperSlider
.partnersSection {
  width: 100%;
  padding: 70px 0;
  align-items: center;
  justify-content: center;
}// partnersSection
.partnersSection {
  display: flex;
  & .wrapper {
    align-items: center;
    justify-content: center;
    width: fit-content;
  }// .wrapper
  &__scroll {
    position: absolute;
    z-index: 999;
    width: 49px;
    height: 49px;
    color: #a8a8a8;
    border: 1px solid #a8a8a8;
    border-radius: 50%;
    line-height: 49px;
    text-align: center;
    font-size: 28px;
    &:hover {
      cursor: pointer;
      color: #0054a4;
      border: 1px solid #0054a4;
    }// :hover
  }// __scroll
  &__slider {
    transition: 0.5s;
    position: relative;
    display: flex;
    width: 1044px;
    justify-content: space-between;
    align-items: flex-end;
    //overflow: hidden;
  }// __slider
}// partnersSection
#left {
  top: 45px;
  left: -70px;
}// #left
#right {
  top: 45px;
  right: -70px;
}// #right
.sliderItem {
  user-select: none;
  margin-right: 25px;
  opacity: 1;
  transition: all 1.5s;
}// sliderItem
.footerSection {
    box-sizing: border-box;
    background: white url("../img/footer-bg.jpg") no-repeat ;
    background-size: cover;
    padding-bottom: 50px;
    width: 100%;
    height: 420px;
    & .wrapper {
      height: 100%;
    }// .wrapper
  }// footerSection
.footer {
    padding-top: 70px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }// footer
.footerLogo{
    &__img {
      margin-bottom: 50px;
      margin-right: 10px;
      img {
        width: 100%;
        height: auto;
      }// img
    }// __img
    &__icons{
      font-size: 24px;
      & ul{
        justify-content: center;
        & li{
          margin: 0 15px;
          & a{
            color: white;
            &:hover{
              opacity: .5;
              transition: .3s;
            }// :hover
          }// a
        }// li
      }// ul
    }// __icons
  }// footerLogo
.flex{
    display: flex;
    justify-content: space-between;
  }// flex
.footerSectionFlex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }// footerSectionFlex
.separator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0 40px 0;
  }// separator
.siteLinks{
    &__header{
      font-family: "Lobster";
      font-size: 22px;
      color: white;
    }// __header
    & ul li {
      padding-bottom: 4px;
      a {
        font-size: 14px;
        font-family: "Open Sans";
        color: rgba(255, 255, 255, 0.5);

        &:hover {
          color: white;
        }// :hover
      }// a
    }// ul li
  }// siteLinks
.thick {
    background-color: #659a37;
    width: 54px;
    height: 5px;
  }// thick
.thin {
    width: 79px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }// thin
.contactUs {
    flex-basis: 30%;
    &__header{
      font-family: "Lobster";
      font-size: 22px;
      color: white;
    }// __header
    &__address {
      justify-content: flex-start;
      margin-bottom: 24px;
      display: flex;
    }// __address
    &__phone {
      justify-content: flex-start;
      display: flex;
    }// __phone
  }// contactUs
.conIcon{
    color: white;
    font-size: 18px;
    margin-right: 10px;
  }// conIcon
.conInfo {
    color: rgba(255, 255, 255, 0.51);
    & p {
      font-family: "Open Sans";
      font-size: 15px;
      margin-bottom: 10px;
    }// p
  }// conInfo
.stayInf{
    &__header{
      font-family: "Lobster";
      font-size: 22px;
      color: white;
    }// __header
    &__button {
      color: white;
      font-family: Arial;
      width: 219px;
      height: 41px;
      line-height: 39px;
      text-align: center;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
        transition: all .2s;
      }// :hover
      &:active {
        cursor: pointer;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.49);
      }// :active
    }// __button
  }// stayInf
.copyright {
    font-family: "Open Sans";
    font-size: 14px;
    width: 100%;
    height: 47px;
    background-color: #003b7b;
    line-height: 47px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }// copyright




  @import "medias";